{% extends 'Message:Mothership:Discount::detail-layout' %}
{% block discount_form %}
	<div class="container-content edit-discount short">
		{{ form_start(form) }}
			<div class="group choose">
				<div class="content">
					{{ form_row(form.percentage) }}
				</div>
			</div>
			<div class="group choose">
				<div class="content">
				{{ form_row(form.discountAmounts) }}
				</div>
			</div>
			{{ form_row(form.freeShipping) }}
			<button type="submit" id="save-content" class="button small save">Save changes</button>
		{{ form_end(form) }}
	</div>
{% endblock %}