{% extends 'Message:Mothership:Discount::detail-layout' %}

{% block discount_form %}

<div class="container-content edit-discount">
	{{ form_start(form) }}

		{{ form_row(form.percentage) }}

		<p style="margin-bottom: 35px;"><strong>OR</strong></p>

		{{ form_row(form.discountAmounts) }}

		{{ form_row(form.freeShipping) }}
		<button type="submit" id="save-content" class="button small save">Save discount</button>
	{{ form_end(form) }}
</div>
{% endblock %}