{% extends 'Message:Mothership:Discount::detail-layout' %}
{% block discount_form %}
	<div class="container-content edit-discount short">
		{{ form_start(form) }}
			<div class="group choose">
				<div class="content">
					<div class="option">
						{{ form_row(form.percentage) }}
					</div>
					<p class="or"><strong>OR</strong></p>
					<div class="option">
						{{ form_row(form.discountAmounts) }}
					</div>
				</div>
			</div>
			{{ form_row(form.freeShipping) }}
			<button type="submit" id="save-content" class="button small save">{{ 'ms.discount.discount.edit.button'|trans }}</button>
		{{ form_end(form) }}
	</div>
{% endblock %}