{% extends 'Message:Mothership:Discount::detail-layout' %}
{% block discount_form %}
<div class="container-content edit-discount short">
	{{ form_start(form) }}
	{{ form_row(form.thresholds) }}
	{{ form_row(form.appliesTo) }}
		<div class="group">
			<h2 class="title">{{ form_label(form.products) }}</h2>
			<div class="content">
				{{ form_widget(form.products) }}
			</div>
		</div>
		<button type="submit" class="button small save" id="save-content">{{ 'ms.discount.discount.edit.button'|trans }}</button>
	{{ form_end(form) }}
</div>
{% endblock %}