{% extends 'Message:Mothership:ControlPanel::_templates/cp' %}

{% block stylesheets %}
	{{ parent() }}
	{% stylesheets
		'@Message:Mothership:Discount:resources/assets/css/discount.css'

		output='/assets/css/ms_discount.css'
		filter='csscogulerewrite,?cssmin'
	%}
		<link rel="stylesheet" href="{{ asset_url }}">
	{% endstylesheets %}
{% endblock %}


{% block sidebar %}
	{{ render(controller('Message:Mothership:Discount::Controller:Sidebar#index')) }}
{% endblock %}
{% block main %}
<hgroup class="title">
	<h1>
		{{ discount.name|title }} ({{ discount.code|upper }})
		{% if discount.active %}
			<span class="flag active">{{ "Active"|trans }}</span>
		{% else %}
			<span class="flag inactive">{{ "Inactive"|trans }}</span>
		{% endif %}
		{% if not discount.end is null %}
			<span>Expires: {{ discount.end|date }}</span>
		{% else %}
			<span>No expiry date set</span>
		{% endif %}
	</h1>
</hgroup>
	{{ render(controller('Message:Mothership:Discount::Controller:Detail#tabs', {'discountID': discount.id, 'topbarClass': topbarClass})) }}
	{% block discount_form %}
	{% endblock %}
{% endblock %}