{% extends 'Message:Mothership:ControlPanel::_templates/left_sidebar' %}
{% block sidebar %}
	{{ render(controller('Message:Mothership:Discount::Controller:Sidebar#index')) }}
{% endblock %}
{% block main %}
<hgroup class="title">
	<h1>
		{{ discount.name|title }} ({{ discount.code|upper }}) {% if discount.active %}
		<div class="flag active">{{ "Active"|trans }}</div>
	{% else %}
		<div class="flag inactive">{{ "Inactive"|trans }}</div>
	{% endif %}
		{% if not discount.end is null %}<span>Expires: {{ discount.end|date }}</span>{% endif %}
	</h1>
</hgroup>
	{{ render(controller('Message:Mothership:Discount::Controller:Detail#tabs', {'discountID': discount.id, 'topbarClass': topbarClass})) }}
	{% block discount_form %}
	{% endblock %}
{% endblock %}