{% extends 'Message:Mothership:Discount::detail-layout' %}

{% block discount_form %}

<div class="container-content create-discount short">
	{% if not orderDiscounts is empty %}
	<table class="discount-listing">
		<thead>
		<tr>
			<th><span>Order ID</span></th>
			<th><span>Created At</span></th>
			<th><span>User</span></th>
			<th><span>Total Discount</span></th>
			<th><span>Total Gross</span></th>
		</tr>
		</thead>
		<tbody>
			{% for orderDiscount in orderDiscounts %}
				{% set order = orderDiscount.order %}
				<tr>
					<td><a href="{{ url('ms.commerce.order.detail.view', {'orderID': order.id }) }}">{{ order.id }}</a></td>
					<td>{{ order.authorship.createdAt|date }}</td>
					<td><a href="">{{ order.user.name }}</a></td>

					{% set discountAmount = (order.conversionRate ? order.totalDiscount * order.conversionRate : order.totalDiscount) %}
					{% set gross          = (order.conversionRate ? order.totalGross * order.conversionRate    : order.totalGross) %}
				
					<td>{{ discountAmount|price }}</td>
					<td>{{ gross|price }}</td>
				</tr>
			{% endfor %}
			
			<tr>
				<td colspan="3"><span>Totals</span></td>
				<td>{{ totalDiscount|price}}</td>
				<td>{{ totalGross|price }}</td>
			</tr>
			
		</tbody>
	</table>
{% else %}
	<p>No orders have used this discount yet.</p>
{% endif %}
</div>

{% endblock %}