<div class="search">
{{ form_start(code_search_form) }}
	{{ form_row(code_search_form.term, { 'attr': {'placeholder': 'Enter discount code...' } }) }}
	<button type="submit">Search</button>
{{ form_end(code_search_form) }}
</div>

<a href="{{ url('ms.discount.create')}}" class="button small create discount" data-live>Add Discount</a>

<ol class="menu">
	<li>
		<a href="{{ url('ms.discount.listing.active') }}" data-live>Active Discounts</a>
	</li>
	<li>
		<a href="{{ url('ms.discount.listing.inactive') }}" data-live>Inactive Discounts</a>
	</li>
</ol>