{% extends 'Message:Mothership:Discount::discount:detail' %}

{% block discount_form %}

<div class="container-content edit-discount">
	{{ form_start(form) }}
		<p><span>Code: </span> {{ discount.code|upper }}</p>
		{{ form_row(form.name) }}
		{{ form_row(form.description) }}

		{{ form_row(form.start) }}
		{{ form_row(form.end) }}

		<button type="submit" class="button small save">Save discount</button>
	{{ form_end(form) }}
</div>
{% endblock %}