{% extends 'Message:Mothership:Discount::discount:detail' %}

{% block discount_form %}

<div class="container-content edit-discount">
	{{ form_start(form) }}
		{{ form_row(form.thresholds) }}

		{{ form_row(form.appliesTo) }}
		{{ form_row(form.products) }}
		<button type="submit" id="save-content" class="button small save">Save discount</button>
	{{ form_end(form) }}
</div>

{% endblock %}